@import url("http://fonts.googleapis.com/css?family=Luckiest+Guy|Carrois+Gothic");
html, body {
  -webkit-font-smoothing: antialiased;
  font: normal 12px/14px "Carrois Gothic", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; }

span {
  display: inline-block;
  color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, red), color-stop(6%, #ff5d00), color-stop(12%, #ffbb00), color-stop(18%, #e5ff00), color-stop(24%, #88ff00), color-stop(30%, #2aff00), color-stop(36%, #00ff33), color-stop(42%, #00ff90), color-stop(48%, #00ffe9), color-stop(54%, #00bbff), color-stop(60%, #005dff), color-stop(66%, blue), color-stop(72%, #5d00ff), color-stop(78%, #bb00ff), color-stop(84%, #ff00e5), color-stop(90%, #ff0083), color-stop(95%, #ff003f), color-stop(100%, #ff0004));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, red 0%, #ff5d00 6%, #ffbb00 12%, #e5ff00 18%, #88ff00 24%, #2aff00 30%, #00ff33 36%, #00ff90 42%, #00ffe9 48%, #00bbff 54%, #005dff 60%, blue 66%, #5d00ff 72%, #bb00ff 78%, #ff00e5 84%, #ff0083 90%, #ff003f 95%, #ff0004 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to right, red 0%, #ff5d00 6%, #ffbb00 12%, #e5ff00 18%, #88ff00 24%, #2aff00 30%, #00ff33 36%, #00ff90 42%, #00ffe9 48%, #00bbff 54%, #005dff 60%, blue 66%, #5d00ff 72%, #bb00ff 78%, #ff00e5 84%, #ff0083 90%, #ff003f 95%, #ff0004 100%);
  /* W3C */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; }

h1 {
  font: normal 34px/28px "Luckiest Guy", Helvetica, Arial;
  margin: 10px 0;
  text-align: center; }

#controls {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 20px;
  width: 250px;
  padding: 20px;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out;
  transition: transform .5s ease-in-out; }

#controls.closed {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.controller {
  float: right;
  width: 150px; }

.toggle-controls {
  position: absolute;
  display: block;
  height: 10px;
  background: rgba(0, 0, 0, 0.9);
  width: 290px;
  left: 0;
  text-align: center;
  padding: 3px 0 7px;
  text-decoration: none;
  color: white; }

#close {
  bottom: -20px; }

#open {
  top: -20px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
